        .caption {
            background-color: #eee;
        }
        
        .unit-thumb {
            display: block;
            width: 100%;
            height: auto;
            margin: 3px;
            padding: 3px;
        }

        